name: Build SD WebUI Forge Classic

on:
  workflow_dispatch:

jobs:
  Build-SD-WebUI-Forge-Classic:
    name: Build SD WebUI Forge Classic
    runs-on: windows-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: List files in the repository
        shell: pwsh
        run: |
          Get-ChildItem -Path "${{ github.workspace }}" -Recurse

      - name: Launch SD WebUI Installer
        shell: pwsh
        run: |
          & "${{ github.workspace }}/installer/stable_diffusion_webui_installer.ps1" `
            -InstallPath "${{ github.workspace }}/sd_webui_forge_classic" `
            -PyTorchMirrorType cu128 `
            -BuildMode `
            -BuildWithLaunch `
            -BuildWitchBranch 7 `
            -InstallBranch "sd_webui_forge_classic" `
            -NoPreDownloadModel `
            -DisablePyPIMirror `
            -DisableGithubMirror `
            -InstallHanamizuki `
            -DisableHuggingFaceMirror

      - name: Install Insightface
        shell: pwsh
        env:
          UV_PYTHON: "${{ github.workspace }}/sd_webui_forge_classic/core/python/python.exe"
          UV_LINK_MODE: copy
        run: |
          uv pip install insightface

      - name: Avoid version check alter
        shell: python
        env:
          PYTHONPATH: "${{ github.workspace }}/sd_webui_forge_classic/core"
          CONFIG_PATH: "${{ github.workspace }}/sd_webui_forge_classic/core/config.json"
        run: |
          import os
          import json
          from modules.launch_utils import VERSION_UID
          with open(os.getenv("CONFIG_PAT"), "w", encoding="utf-8") as f:
            config = json.load(f)

          config["VERSION_UID"] = VERSION_UID
          with open(os.getenv("CONFIG_PAT"), "w", encoding="utf-8") as f:
            json.dump(config, f, indent=4)

      - name: Launch SD WebUI Forge Classic to init component
        shell: pwsh
        env:
          PIP_NO_WARN_SCRIPT_LOCATION: 0
          PIP_DISABLE_PIP_VERSION_CHECK: 1
        run: |
          Set-Location -Path "${{ github.workspace }}/sd_webui_forge_classic/core"
          & "${{ github.workspace }}/sd_webui_forge_classic/core/python/python.exe" `
            "${{ github.workspace }}/sd_webui_forge_classic/core/launch.py" `
            --exit `
            --skip-torch-cuda-test `
            --use-cpu all `
            --skip-version-check `
            --skip-python-version-check

      - name: Launch to complete dependencies
        shell: pwsh
        run: |
          & "${{ github.workspace }}/sd_webui_forge_classic/launch.ps1" `
            -BuildMode `
            -DisablePyPIMirror `
            -DisableGithubMirror `
            -DisableHuggingFaceMirror

      - name: Download VAE approx model
        shell: pwsh
        run: |
          & "${{ github.workspace }}/.github/install_vae_approx_model.ps1" `
            -VAEApproxPath "${{ github.workspace }}/sd_webui_forge_classic/core/models/VAE-approx"

      - name: Make docs
        shell: pwsh
        run: |
          python "${{ github.workspace }}/.github/make_docs.py" "${{ github.workspace }}/sd_webui_forge_classic"

      - name: Clean cache dir
        shell: pwsh
        run: |
          Remove-Item -Path "${{ github.workspace }}/sd_webui_forge_classic/cache" -Force -Recurse

      - name: Archive
        shell: pwsh
        run: |
          & "${{ github.workspace }}/.github/archive_portable.ps1" `
            -SoftwareName "sd_webui_forge_classic" `
            -Workspace "${{ github.workspace }}" `
            -Source "${{ github.workspace }}/sd_webui_forge_classic" `
            -SaveDst "${{ github.workspace }}/sdnote/portable/nightly" `
            -Author "licyk"

      - name: Install HuggingFace and ModelScope library
        shell: pwsh
        env:
          UV_SYSTEM_PYTHON: 1
          UV_LINK_MODE: copy
        run: |
          uv pip install "huggingface_hub[hf_xet]" modelscope --upgrade

      - name: Upload to HuggingFace repo
        shell: pwsh
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          WORKSPACE: ${{ github.workspace }}
        run: |
          python "${{ github.workspace }}/.github/huggingface_release.py"

      - name: Upload to ModelScope repo
        shell: pwsh
        env:
          MODELSCOPE_API_TOKEN: ${{ secrets.MODELSCOPE_API_TOKEN }}
          WORKSPACE: ${{ github.workspace }}
        run: |
          python "${{ github.workspace }}/.github/modelscope_release.py"
