name: Build SD WebUI Forge

on:
  workflow_dispatch:

jobs:
  Build-SD-WebUI-Forge:
    name: Build SD WebUI Forge
    runs-on: windows-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Launch SD WebUI Installer
        env:
          SD_WEBUI_ALL_IN_ONE_SKIP_TORCH_DEVICE_COMPATIBILITY: 1
        shell: pwsh
        run: |
          & "${{ github.workspace }}/installer/stable_diffusion_webui_installer.ps1" `
            -InstallPath "${{ github.workspace }}/sd_webui_forge" `
            -PyTorchMirrorType cu128 `
            -BuildMode `
            -BuildWithLaunch `
            -InstallBranch "sd_webui_forge" `
            -NoPreDownloadModel `
            -DisablePyPIMirror `
            -DisableGithubMirror `
            -InstallHanamizuki `
            -DisableHuggingFaceMirror

      - name: Install Insightface
        shell: pwsh
        env:
          UV_PYTHON: "${{ github.workspace }}/sd_webui_forge/core/python/python.exe"
          UV_LINK_MODE: copy
        run: |
          uv pip install insightface

      - name: Install OpenPose Editor Assets
        shell: pwsh
        run: |
          & "${{ github.workspace }}/.github/install_openpose_editor_assets.ps1" `
            -TempPath "${{ github.workspace }}/temp" `
            -InstallPath "${{ github.workspace }}/sd_webui_forge/core/extensions/sd-webui-openpose-editor/dist"

      - name: Launch SD WebUI Forge to init component
        shell: pwsh
        env:
          PIP_NO_WARN_SCRIPT_LOCATION: 0
          PIP_DISABLE_PIP_VERSION_CHECK: 1
        run: |
          Set-Location -Path "${{ github.workspace }}/sd_webui_forge/core"
          & "${{ github.workspace }}/sd_webui_forge/core/python/python.exe" `
            "${{ github.workspace }}/sd_webui_forge/core/launch.py" `
            --exit `
            --skip-torch-cuda-test `
            --use-cpu all `
            --skip-version-check `
            --skip-python-version-check

      - name: Launch to complete dependencies
        shell: pwsh
        run: |
          & "${{ github.workspace }}/sd_webui_forge/launch.ps1" `
            -BuildMode `
            -DisablePyPIMirror `
            -DisableGithubMirror `
            -DisableHuggingFaceMirror

      - name: Download VAE approx model
        shell: pwsh
        run: |
          & "${{ github.workspace }}/.github/install_vae_approx_model.ps1" `
            -VAEApproxPath "${{ github.workspace }}/sd_webui_forge/core/models/VAE-approx"

      - name: Make docs
        shell: pwsh
        run: |
          python "${{ github.workspace }}/.github/make_docs.py" "${{ github.workspace }}/sd_webui_forge"

      - name: Clean cache dir
        shell: pwsh
        run: |
          Remove-Item -Path "${{ github.workspace }}/sd_webui_forge/cache" -Force -Recurse

      - name: Archive
        shell: pwsh
        run: |
          & "${{ github.workspace }}/.github/archive_portable.ps1" `
            -SoftwareName "sd_webui_forge" `
            -Workspace "${{ github.workspace }}" `
            -Source "${{ github.workspace }}/sd_webui_forge" `
            -SaveDst "${{ github.workspace }}/sdnote/portable/nightly" `
            -Author "licyk"

      - name: Install HuggingFace and ModelScope library
        shell: pwsh
        env:
          UV_SYSTEM_PYTHON: 1
          UV_LINK_MODE: copy
        run: |
          uv pip install "huggingface_hub[hf_xet]" modelscope --upgrade

      - name: Upload to HuggingFace repo
        shell: pwsh
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          WORKSPACE: ${{ github.workspace }}
        run: |
          python "${{ github.workspace }}/.github/huggingface_release.py"

      - name: Upload to ModelScope repo
        shell: pwsh
        env:
          MODELSCOPE_API_TOKEN: ${{ secrets.MODELSCOPE_API_TOKEN }}
          WORKSPACE: ${{ github.workspace }}
        run: |
          python "${{ github.workspace }}/.github/modelscope_release.py"
