name: Build SD WebUI

on:
  # push:
  #   branches:
  #     - main
  #   paths:
  #     - ".github/workflows/build_sd_webui.yml"
  # delete:
  # create:
  schedule:
  # * is a special character in YAML so you have to quote this string
  # UTC 17:00 -> CST (China) 1:00, see https://datetime360.com/cn/utc-cst-china-time/
  # https://docs.github.com/zh/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows#schedule
  - cron: '15 18 * * 0'
  workflow_dispatch:

jobs:
  Build-SD-WebUI:
    name: Build SD WebUI
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: List files in the repository
        shell: pwsh
        run: |
          Get-ChildItem -Path "${{ github.workspace }}" -Recurse

      - name: Launch SD WebUI Installer
        shell: pwsh
        run: |
          & "${{ github.workspace }}/installer/stable_diffusion_webui_installer.ps1" `
            -InstallPath "${{ github.workspace }}/sd_webui" `
            -PyTorchMirrorType cu128 `
            -BuildMode `
            -BuildWithLaunch `
            -BuildWitchBranch 2 `
            -InstallBranch "sd_webui" `
            -NoPreDownloadModel `
            -DisablePyPIMirror `
            -DisableGithubMirror `
            -InstallHanamizuki `
            -DisableHuggingFaceMirror

      - name: Install Insightface
        shell: pwsh
        env:
          UV_PYTHON: "${{ github.workspace }}/sd_webui/core/python/python.exe"
          UV_LINK_MODE: copy
        run: |
          uv pip install insightface

      - name: Install OpenPose Editor Assets
        shell: pwsh
        run: |
          & "${{ github.workspace }}/.github/install_openpose_editor_assets.ps1" `
            -TempPath "${{ github.workspace }}/temp" `
            -InstallPath "${{ github.workspace }}/sd_webui/core/extensions/sd-webui-openpose-editor/dist"

      - name: Launch SD WebUI to init component
        shell: pwsh
        env:
          PIP_NO_WARN_SCRIPT_LOCATION: 0
          PIP_DISABLE_PIP_VERSION_CHECK: 1
        run: |
          Set-Location -Path "${{ github.workspace }}/sd_webui"
          & "${{ github.workspace }}/sd_webui/core/python/python.exe" `
            "${{ github.workspace }}/sd_webui/core/launch.py" `
            --exit `
            --skip-torch-cuda-test `
            --use-cpu all `
            --skip-version-check

      - name: Launch to complete dependencies
        shell: pwsh
        run: |
          & "${{ github.workspace }}/sd_webui/launch.ps1" `
            -BuildMode `
            -DisablePyPIMirror `
            -DisableGithubMirror `
            -DisableHuggingFaceMirror

      - name: Download VAE approx model
        shell: pwsh
        run: |
          & "${{ github.workspace }}/.github/install_vae_approx_model.ps1" `
            -VAEApproxPath "${{ github.workspace }}/sd_webui/core/models/VAE-approx"

      - name: Make docs
        shell: pwsh
        run: |
          python "${{ github.workspace }}/.github/make_docs.py" "${{ github.workspace }}/sd_webui"

      - name: Clean cache dir
        shell: pwsh
        run: |
          Remove-Item -Path "${{ github.workspace }}/sd_webui/cache" -Force -Recurse

      - name: Archive
        shell: pwsh
        run: |
          & "${{ github.workspace }}/.github/archive_portable.ps1" `
            -SoftwareName "sd_webui" `
            -Workspace "${{ github.workspace }}" `
            -Source "${{ github.workspace }}/sd_webui" `
            -SaveDst "${{ github.workspace }}/sdnote/portable/nightly" `
            -Author "licyk"

      - name: Install HuggingFace and ModelScope library
        shell: pwsh
        env:
          UV_SYSTEM_PYTHON: 1
          UV_LINK_MODE: copy
        run: |
          uv pip install "huggingface_hub[hf_xet]" modelscope --upgrade

      - name: Upload to HuggingFace repo
        shell: pwsh
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          WORKSPACE: ${{ github.workspace }}
        run: |
          python "${{ github.workspace }}/.github/huggingface_release.py"

      - name: Upload to ModelScope repo
        shell: pwsh
        env:
          MODELSCOPE_API_TOKEN: ${{ secrets.MODELSCOPE_API_TOKEN }}
          WORKSPACE: ${{ github.workspace }}
        run: |
          python "${{ github.workspace }}/.github/modelscope_release.py"
