name: Release

on:
  push:
    branches:
      - main
    paths:
      - sd_webui_all_in_one/version.py
  workflow_dispatch:

jobs:
  Release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Run Ruff
        uses: astral-sh/ruff-action@v3
        with:
          src: >-
            sd_webui_all_in_one

      - name: Install Dependences
        shell: bash
        env:
          PIP_BREAK_SYSTEM_PACKAGES: 1
          PIP_DISABLE_PIP_VERSION_CHECK: 1
          PIP_NO_WARN_SCRIPT_LOCATION: 0
        run: |
          python -m pip install build twine --upgrade

      - name: Build Wheel
        shell: bash
        run: |
          python -m build "${{ github.workspace }}" --outdir "${{ github.workspace }}/dist"

      - name: Upload to PyPI
        shell: bash
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
        run: |
          python -m twine upload "${{ github.workspace }}/dist"/*
