name: Release

on:
  push:
    branches:
      - main
    paths:
      - installer/sd_trainer_installer.ps1
      - installer/invokeai_installer.ps1
      - installer/comfyui_installer.ps1
      - installer/stable_diffusion_webui_installer.ps1
      - installer/fooocus_installer.ps1
      - installer/sd_trainer_script_installer.ps1
      - installer/install_embed_python.ps1
      - installer/configure_env.bat
      - config/fooocus_config.json
      - config/fooocus_path_config_kaggle.json
      - config/fooocus_zh_cn.json
      - config/libtcmalloc_minimal.so.4
      - config/sd_webui_config.json
      - config/comfy.settings.json
      - config/sd_webui_requirements_versions.txt
      - config/sd_webui_forge_requirements_versions.txt
      - config/sd_webui_forge_classic_requirements_versions.txt
      - notebook/sd_scripts_kaggle.ipynb
      - sd_scripts_ipynb_core.py
      - notebook/sd_scripts_colab.ipynb
      - notebook/sd_webui_all_in_one_colab.ipynb
      - notebook/sd_webui_all_in_one.ipynb
      - notebook/sd_trainer_kaggle.ipynb
      - notebook/fooocus_colab.ipynb
      - notebook/fooocus_kaggle.ipynb
      - notebook/hdm_train_kaggle.ipynb
      - notebook/comfyui_colab.ipynb
      - notebook/invokeai_colab.ipynb
      - notebook/stable_diffusion_webui_colab.ipynb
      - notebook/sd_trainer_colab.ipynb
  delete:
  create:
  workflow_dispatch:

jobs:
  Release-To-Github:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@v4

      - name: List files in the repository
        run: |
          ls "${{ github.workspace }}"

      - name: Release SD-Trainer Installer
        shell: bash
        env:
          github_release_tag: sd_trainer_installer
          github_files: |
            installer/sd_trainer_installer.ps1
        run: |
          bash"${{ github.workspace }}/.github/github_release.sh"

      - name: Release InvokeAI Installer
        shell: bash
        env:
          github_release_tag: invokeai_installer
          github_files: |
            installer/invokeai_installer.ps1
        run: |
          bash"${{ github.workspace }}/.github/github_release.sh"

      - name: Release ComfyUI Installer
        shell: bash
        env:
          github_release_tag: comfyui_installer
          github_files: |
            installer/comfyui_installer.ps1
        run: |
          bash"${{ github.workspace }}/.github/github_release.sh"

      - name: Release SD WebUI Installer
        shell: bash
        env:
          github_release_tag: stable_diffusion_webui_installer
          github_files: |
            installer/stable_diffusion_webui_installer.ps1
        run: |
          bash"${{ github.workspace }}/.github/github_release.sh"

      - name: Release Fooocus Installer
        shell: bash
        env:
          github_release_tag: fooocus_installer
          github_files: |
            installer/fooocus_installer.ps1
        run: |
          bash"${{ github.workspace }}/.github/github_release.sh"

      - name: Release SD-Trainer-Script Installer
        shell: bash
        env:
          github_release_tag: sd_trainer_script_installer
          github_files: |
            installer/sd_trainer_script_installer.ps1
        run: |
          bash"${{ github.workspace }}/.github/github_release.sh"

      - name: Release config
        shell: bash
        env:
          github_release_tag: archive
          github_files: |
            installer/configure_env.bat
            installer/install_embed_python.ps1
            config/fooocus_config.json
            config/fooocus_path_config_kaggle.json
            config/fooocus_zh_cn.json
            config/libtcmalloc_minimal.so.4
            config/sd_webui_config.json
            config/comfy.settings.json
            config/sd_webui_requirements_versions.txt
            config/sd_webui_forge_requirements_versions.txt
            config/sd_webui_forge_classic_requirements_versions.txt
        run: |
          bash"${{ github.workspace }}/.github/github_release.sh"

      - name: Release Jupyter Notebook
        shell: bash
        env:
          github_release_tag: archive
          github_files: |
            notebook/sd_scripts_kaggle.ipynb
            sd_scripts_ipynb_core.py
            notebook/sd_scripts_colab.ipynb
            notebook/sd_webui_all_in_one_colab.ipynb
            notebook/sd_webui_all_in_one.ipynb
            notebook/sd_trainer_kaggle.ipynb
            notebook/fooocus_colab.ipynb
            notebook/fooocus_kaggle.ipynb
            notebook/hdm_train_kaggle.ipynb
            notebook/comfyui_colab.ipynb
            notebook/invokeai_colab.ipynb
            notebook/stable_diffusion_webui_colab.ipynb
            notebook/sd_trainer_colab.ipynb
        run: |
          bash"${{ github.workspace }}/.github/github_release.sh"

  Release-To-Gitee:
    # tools: https://github.com/nICEnnnnnnnLee/action-gitee-release
    # fork: https://github.com/licyk/action-gitee-release
    # Gitee release id: https://gitee.com/api/v5/swagger#/getV5ReposOwnerRepoReleases
    runs-on: ubuntu-latest
    env:
      gitee_owner: licyk
      gitee_repo: sd-webui-all-in-one
      gitee_token: ${{ secrets.gitee_token }}
      gitee_upload_retry_times: 3
    steps:
      - uses: actions/checkout@v4
      - name: List files in the repository
        run: |
          ls "${{ github.workspace }}"

      - name: Config release Gitee script requirements
        shell: bash
        run: |
          pip install requests requests-toolbelt --break-system-package

      - name: Release config to Gitee
        shell: bash
        env:
          gitee_release_id: 435278
          gitee_files: |
            installer/configure_env.bat
            config/fooocus_config.json
            config/fooocus_path_config_kaggle.json
            config/fooocus_zh_cn.json
            config/libtcmalloc_minimal.so.4
            config/sd_webui_config.json
            installer/install_embed_python.ps1
            config/comfy.settings.json
            config/sd_webui_requirements_versions.txt
            config/sd_webui_forge_requirements_versions.txt
            config/sd_webui_forge_classic_requirements_versions.txt
        run: |
          python "${{ github.workspace }}/.github/gitee_release.py"

      - name: Release Jupyter Notebook to Gitee
        shell: bash
        env:
          gitee_release_id: 435278
          gitee_files: |
            notebook/sd_scripts_kaggle.ipynb
            sd_scripts_ipynb_core.py
            notebook/sd_scripts_colab.ipynb
            notebook/sd_webui_all_in_one_colab.ipynb
            notebook/sd_webui_all_in_one.ipynb
            notebook/sd_trainer_kaggle.ipynb
            notebook/fooocus_colab.ipynb
            notebook/fooocus_kaggle.ipynb
            notebook/hdm_train_kaggle.ipynb
            notebook/comfyui_colab.ipynb
            notebook/invokeai_colab.ipynb
            notebook/stable_diffusion_webui_colab.ipynb
            notebook/sd_trainer_colab.ipynb
        run: |
          python "${{ github.workspace }}/.github/gitee_release.py"

      - name: Release SD-Trainer Installer to Gitee
        shell: bash
        env:
          gitee_release_id: 408873
          gitee_files: |
            installer/sd_trainer_installer.ps1
        run: |
          python "${{ github.workspace }}/.github/gitee_release.py"

      - name: Release InvokeAI Installer to Gitee
        shell: bash
        env:
          gitee_release_id: 402883
          gitee_files: |
            installer/invokeai_installer.ps1
        run: |
          python "${{ github.workspace }}/.github/gitee_release.py"

      - name: Release ComfyUI Installer to Gitee
        shell: bash
        env:
          gitee_release_id: 447269
          gitee_files: |
            installer/comfyui_installer.ps1
        run: |
          python "${{ github.workspace }}/.github/gitee_release.py"

      - name: Release SD WebUI Installer to Gitee
        shell: bash
        env:
          gitee_release_id: 452051
          gitee_files: |
            installer/stable_diffusion_webui_installer.ps1
        run: |
          python "${{ github.workspace }}/.github/gitee_release.py"

      - name: Release Fooocus Installer to Gitee
        shell: bash
        env:
          gitee_release_id: 467150„ÄÅ
          gitee_files: |
            installer/fooocus_installer.ps1
        run: |
          python "${{ github.workspace }}/.github/gitee_release.py"

      - name: Release SD-Trainer-Script Installer to Gitee
        shell: bash
        env:
          gitee_release_id: 461216
          gitee_files: |
            installer/sd_trainer_script_installer.ps1
        run: |
          python "${{ github.workspace }}/.github/gitee_release.py"
