name: Release

on:
  push:
    branches: [main]
    paths:
      - 'installer/**'
      - 'config/**'
      - 'notebook/**'
      - 'sd_scripts_ipynb_core.py'
  workflow_dispatch:

jobs:
  Release-Task:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: SD-Trainer-Installer
            gh_tag: sd_trainer_installer
            gt_id: 408873
            files: installer/sd_trainer_installer.ps1
          - name: InvokeAI-Installer
            gh_tag: invokeai_installer
            gt_id: 402883
            files: installer/invokeai_installer.ps1
          - name: ComfyUI-Installer
            gh_tag: comfyui_installer
            gt_id: 447269
            files: installer/comfyui_installer.ps1
          - name: SD-WebUI-Installer
            gh_tag: stable_diffusion_webui_installer
            gt_id: 452051
            files: installer/stable_diffusion_webui_installer.ps1
          - name: Fooocus-Installer
            gh_tag: fooocus_installer
            gt_id: 467150
            files: installer/fooocus_installer.ps1
          - name: SD-Trainer-Script
            gh_tag: sd_trainer_script_installer
            gt_id: 461216
            files: installer/sd_trainer_script_installer.ps1
          - name: Archive-Configs
            gh_tag: archive
            gt_id: 435278
            files: |
              installer/configure_env.bat
              installer/install_embed_python.ps1
              config/**
          - name: Notebooks
            gh_tag: archive
            gt_id: 435278
            files: |
              notebook/*.ipynb
              sd_scripts_ipynb_core.py

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Install Python dependencies
        run: |
          pip install requests requests-toolbelt

      - name: Release ${{ matrix.name }} to GitHub
        shell: bash
        env:
          GITHUB_TOKEN: ${{ github.token }}
          github_release_tag: ${{ matrix.gh_tag }}
          github_files: ${{ matrix.files }}
        run: bash "${{ github.workspace }}/.github/github_release.sh"

      - name: Release ${{ matrix.name }} to Gitee
        shell: bash
        env:
          gitee_owner: licyk
          gitee_repo: sd-webui-all-in-one
          gitee_token: ${{ secrets.gitee_token }}
          gitee_upload_retry_times: 3
          gitee_release_id: ${{ matrix.gt_id }}
          gitee_files: ${{ matrix.files }}
        run: python "${{ github.workspace }}/.github/gitee_release.py"